body {
    background-color:black;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    word-break: break-all ;
}

.mainContainer {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: green;
    color : white;
    padding: 20px;
    font-family:"Papyrus", fantasy;
}

.title {
    border-radius: 5px;
    background-color: rgb(185, 24, 24);;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 1%; 
    font-size: 94%;
    color: white;
}

.navi {
    padding: 10px ;
    height: 50px;
}.navi1 {
    float:left;
    padding: 12px 12px 12px 0;
    font-size: 20px;
}.navi2 {
    margin: 5px ;
    float:right;

    background-color: #e68f0c;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-family:"Papyrus", fantasy;
    font-weight: bold;
}.navi2:hover {
    background-color: #cf5504;
}


.divContainer{
    padding: 30px;  
}

.label {
    padding: 12px 12px 12px 0;
    font-size: 20px;
    justify-content:flex-start;
    font-family:"Papyrus", fantasy;
    color:white;
}.err{
    font-size: 180%;
    font-weight:bold;
    color: rgb(0, 0, 0);
}

.button {
    background-color: #e68f0c;
    color: black;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-family:"Papyrus", fantasy;
    font-weight: bold;
}.button:hover {
    background-color: #cf5504;
}

.btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:"Papyrus", fantasy;
    font-weight: bold;
    font-size: 17px;
}.btn:hover {
    background-color: #45a049;
}


.credits {
    border-radius: 5px;
    background-color: rgb(185, 24, 24);
    display: flex;
    justify-content:space-around;
    padding: 10px;   
    margin-top:10px;
    font-size:17px;
}


.inputText  {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: rgb(190, 196, 190);
    font-family:"DejaVu Sans Mono", monospace;
    font-size: 15px;
    
    resize: vertical;
}.numeP{
    margin-bottom:10px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}






  
h1{
      font-size: 300%;
      color: white;
    
}
  
/*.err{
    font-size: 200%;
    color: #d4a7a7;
}*/


.table {
    font-family:"Papyrus", fantasy;
    color:white;
    border-collapse: collapse;
    width: 100%;
    overflow-x:auto;
    word-break: initial;
    /* flex:wrap;
    flex-direction: column;
     */
}

.th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #360c91;
    color: white;
} 
.td {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #5100ff;
    color: white;
}
 

@media(max-width: 767px){
    .fontTitM1{ font-size: 4vmin;}
    .navi1M1{width: 100%; padding-left: 0px;}
    .naviM1{width: 100%; margin: 5px 0px; font-size: 3vmin;}
    .tabBtnM1{width: 80%; margin: 5px; font-size: 2.5vmin;} 
    .btnM1{width: 70%; margin: 5px ; font-size: 3vmin; }
    .fontTextM1{ font-size: 3vmin;}
    .fontTabM1{font-size: 3vmin;}
    .inputM1{margin: 6px 6px; width: 90%; font-size: 2vmin;}
    .submitM1{width: 50%; font-size: 2vmin;}
    .creditM1{font-size: 3vmin;}
}
    
@media(min-width: 768px) and (max-width: 1279px){
    .fontTitM2{ font-size: 5vmin;}
    .navi1M2{width: 50%; padding-left: 0px;}
    .naviM2{width: 25%; margin: 5px ; font-size: 3vmin;}
    .tabBtnM2{width: 30%; margin: 5px; font-size: 3vmin;}
    .btnM2{width: 25%; font-size: 3vmin; }
    .fontTextM2{ font-size: 2.5vmin;}
    .fontTabM2{font-size: 4vmin;}
    .inputM2{margin: 6px 6px; width: 50%; font-size: 2vmin;}
    .submitM2{width: 25%; font-size: 3vmin;}
    .creditM2{width:97%; font-size: 3vmin;}
}
  

@media(min-width: 1280px) {
    .fontTitM3{ font-size: 6vmin;}
    .navi1M3{width: 25%; padding-left: 0px;}
    .naviM3{width: 10%; margin: 5px ; font-size: 2vmin;}
    .tabBtnM3{width: 15%; margin: 5px ; font-size: 2vmin;}
    .btnM3{width: 15%; font-size: 2vmin; }
    .fontTextM3{ font-size: 3vmin;}
    .fontTabM3{font-size: 3vmin;}
    .inputM3{margin: 6px 6px; width: 25%; font-size: 2vmin;}
    .submitM3{width: 10%; font-size: 2vmin;}
    .creditM3{width:97%; font-size: 2vmin;}
    
}  


  
