body {
    background-color:black;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.mainContainer {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: green;
    color : white;
    padding: 20px;
    font-family:"Papyrus", fantasy;
}

.title {
    border-radius: 5px;
    background-color: rgb(185, 24, 24);;
    display: flex;
    justify-content:center;
    padding: 1%; 
    font-size: 94%;
    color: white;
}

.navi {
    padding: 10px ;
    height: 50px;
}.navi1 {
    float:left;
    padding: 12px 12px 12px 0;
    font-size: 20px;
}.navi2 {
    margin: 5px ;
    float:right;

    background-color: #e68f0c;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-family:"Papyrus", fantasy;
    font-weight: bold;
}.navi2:hover {
    background-color: #cf5504;
}


.divContainer{
    padding: 30px;  
}

.label {
    padding: 12px 12px 12px 0;
    font-size: 20px;
    justify-content:flex-start;
    font-family:"Papyrus", fantasy;
    color:white;
}.err{
    font-size: 180%;
    font-weight:bold;
    color: rgb(0, 0, 0);
}

.button {
    background-color: #e68f0c;
    color: black;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-family:"Papyrus", fantasy;
    font-weight: bold;
}.button:hover {
    background-color: #cf5504;
}

.btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:"Papyrus", fantasy;
    font-weight: bold;
    font-size: 17px;
}.btn:hover {
    background-color: #45a049;
}


.credits {
    border-radius: 5px;
    background-color: rgb(185, 24, 24);
    display: flex;
    justify-content:space-around;
    padding: 10px;   
    margin-top:10px;
    font-size:17px;
}


.inputText  {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: rgb(190, 196, 190);
    font-family:"DejaVu Sans Mono", monospace;
    font-size: 15px;
    
    resize: vertical;
}.numeP{
    margin-bottom:10px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}






  
h1{
      font-size: 300%;
      color: white;
    
}
  
/*.err{
    font-size: 200%;
    color: #d4a7a7;
}*/


.table {
    font-family:"Papyrus", fantasy;
    color:white;
    border-collapse: collapse;
    width: 100%;
    overflow-x:auto;
    flex:wrap;
    flex-direction: column;
    overflow-x: auto;
}

.th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #5100ff;
    color: white;
} 
.td {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #5100ff;
    color: white;
}
  
/*.tr:nth-child(even){
    background-color: #6d1acc;
}
.tr:hover {
    background-color: #451280;
}*/
  


  
