body {
  background-color:black;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  word-break: break-all ;
}

.mainContainer {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: green;
  color : white;
  padding: 20px;
  font-family:"Papyrus", fantasy;
}

.title {
  border-radius: 5px;
  background-color: rgb(185, 24, 24);;
  display: flex;
  flex-wrap: wrap;
  
  justify-content:center;
  padding: 1%; 
  font-size: 180%;
  color: white;
}

.navi {
  display: flex;
  justify-content:flex-end;
  flex-wrap: wrap;
  padding: 5px ;
  width: 100%;
}


.formContainer {
  padding: 0 20px 20px 20px;
}

.label {
  padding: 12px 12px 1px 0;
  display: flex;
  justify-content:flex-start;
  font-size: 18px;
}

.button {
  background-color: #e68f0c;
  color: black;
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  font-family:"Papyrus", fantasy;
  font-weight: bold;
}.button:hover {
  background-color: #cf5504;
}

.inputText {
  width: 40%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: rgb(190, 196, 190);
  font-family:"DejaVu Sans Mono", monospace;
  font-size: 15px;
}

.inputSubmit {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  margin-bottom:20px;
  border: none;
  border-radius: 4px;
  float: right;
  cursor:pointer;
  font-family:"Papyrus", fantasy;
  font-weight: bold;
  font-size: 17px;
}.inputSubmit:hover {
  background-color: #45a049;
}

.err {
  font-size: 180%;
  font-weight:bold;
  color: rgb(0, 0, 0);
}


.credits {
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(185, 24, 24);
  display: flex;
  justify-content:space-around;
  padding: 10px;   
  font-size:17px;
}
  
.aboutUs {
  display:flex;
  justify-content: center;
  font-size:150%;
}


@media(max-width: 768px){
  .fontTitM1{ font-size: 3vmin;}
  .naviM1{width: 100%;margin: 5px 20px; font-size: 2vmin;}
  .easyBtnM1 {width: 100%;  font-size: 3vmin;} 
  .fontTextM1{ font-size: 3vmin;}
  .inputM1{margin: 6px 6px; width: 90%; font-size: 2vmin;}
  .submitM1{width: 50%; font-size: 2vmin;}
  .creditM1{font-size: 2vmin;}
}
  
@media(min-width: 768px) and (max-width: 1280px){
  .fontTitM2{ font-size: 5vmin;}
  .naviM2{width: 20%;margin: 5px; font-size: 2vmin;}
  .easyBtnM2{width: 33%;  font-size: 2vmin;}
  .fontTextM2{ font-size: 3vmin;}
  .inputM2{margin: 6px 6px; width: 50%; font-size: 2vmin;}
  .submitM2{width: 25%; font-size: 3vmin;}
  .creditM2{width:97%; font-size: 3vmin;}
}

@media(min-width: 1280px) {
  .fontTitM3{ font-size: 6vmin;}
  .naviM3{width: 15%;margin: 5px; font-size: 2vmin;}
  .easyBtnM3{width: 20%;  font-size: 2vmin;}
  .inputM3{margin: 6px 6px; width: 25%; font-size: 2vmin;}
  .fontTextM3{ font-size: 2vmin;}
  .submitM3{width: 15%; font-size: 2vmin;}
  .creditM3{width:97%; font-size: 2vmin;}
}
