body {
  background-color:black;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

.mainContainer {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: green;
  color : white;
  padding: 20px;
  font-family:"Papyrus", fantasy;
}

.title {
  border-radius: 5px;
  background-color: rgb(185, 24, 24);;
  display: flex;
  justify-content:center;
  padding: 1%; 
  font-size: 180%;
  color: white;
}

.navi {
  display: flex;
  justify-content:flex-end;
  padding: 5px ;
  width: 100%;
}


.formContainer {
  padding: 0 20px 20px 20px;
}

.label {
  padding: 12px 12px 1px 0;
  display: flex;
  justify-content:flex-start;
  font-size: 18px;
}

.button {
  background-color: #e68f0c;
  color: black;
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  font-family:"Papyrus", fantasy;
  font-weight: bold;
}.button:hover {
  background-color: #cf5504;
}

.inputText {
  width: 40%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: rgb(190, 196, 190);
  font-family:"DejaVu Sans Mono", monospace;
  font-size: 15px;
}

.inputSubmit {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  margin-bottom:20px;
  border: none;
  border-radius: 4px;
  float: right;
  cursor:pointer;
  font-family:"Papyrus", fantasy;
  font-weight: bold;
  font-size: 17px;
}.inputSubmit:hover {
  background-color: #45a049;
}

.err {
  font-size: 180%;
  font-weight:bold;
  color: rgb(0, 0, 0);
}


.credits {
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(185, 24, 24);
  display: flex;
  justify-content:space-around;
  padding: 10px;   
  font-size:17px;
}
  
.aboutUs {
  display:flex;
  justify-content: center;
  font-size:150%;
}